#test_app #flash {
  position:absolute;
  width:880px;
  height:40px;
  margin:0 auto;
  left:0;
  right:0;
  top:120px;
  overflow:hidden;
}

#test_app #flash.hidden {
  top:40px;
}

#test_app #flash div {
  margin:0;
  padding:8px 12px 10px;
}

#test_app #flash .alert {
  color:#6e0000;
  @include gradient(#fccccc,#f8a1a1,#fcc1c1);
}

#test_app a.active {
  color: green
}

#test_app ul.sticky_items li {
  background-color:orange;
}
#test_app ul.sticky_items li a {
  color:red;
}
#test_app ul.sticky_items li.active {
  background-color:blue;
}
#test_app ul.sticky_items li a.active {
  color:green;
}