- @page_title = "Something Went Wrong"

%section.box
  %p An issue has just occured, we've been informed and will have a look into it.
  %p= raw "Back to our #{link_to 'home page', root_path, class: 'hl'}."
