.createsend-button style="height:27px;display:inline-block;" data-listid="r/64/FCC/FFA/240AA5F75D854EF5"
script type='text/javascript'
  == "(function () { var e = document.createElement('script'); e.type = 'text/javascript'; e.async = true; e.src = 'https://btn.createsend1.com/js/sb.min.js?v=2'; e.className = 'createsend-script'; var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(e, s); })();"
