%iframe{ src: "https://www.facebook.com/plugins/like.php?href=https%3A%2F%2Fwww.facebook.com%2Fsublimevideo&send=false&layout=button_count&width=130&show_faces=false&action=like&colorscheme=dark&font&height=21&appId=194063487384384", scrolling: "no", frameborder: "0", style: "border:none; overflow:hidden; width:130px; height:21px;", allowTransparency: "true" }
