a.twitter-share-button href="http://twitter.com/share" data-url="http://sublimevideo.net" data-text="Check out SublimeVideo HTML5 Video Player by @Jilion -" data-count="horizontal" data-related="jilion:Follow @Jilion for the latest news!" Tweet
script src="//platform.twitter.com/widgets.js"
