%a{ href: "http://twitter.com/share", class: "twitter-share-button", data: { url: "http://sublimevideo.net", text: "Check out SublimeVideo HTML5 Video Player by @Jilion -", count: "horizontal", related: "jilion:Follow @Jilion for the latest news!" } } Tweet
= javascript_include_tag "//platform.twitter.com/widgets.js"